/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* -------- END -------- */

/*========== fonts | colors | typography ==========*/

:root {
  --body-font: 'Montserrat', sans-serif;

  --fs-1: 36px;
  --fs-2: 24px;
  --fs-2-1: 20px;
  --fs-3: 18px;
  --fs-4: 16px;
  --fs-5: 12px;

  --fw-1: 400;
  --fw-2: 700;

  --color-dark-1: #141423;
  --color-dark-2: #1c1c32;
  --color-dark-3: #0e0e1b;
  --color-blue: #0094ff;
  --color-purple: #7000ff;
  --color-white: #ffffff;
  --color-black-30: rgba(0, 0, 0, 0.3);
  --color-white-50: rgba(255, 255, 255, 0.5);
}

/* -------- END -------- */

/* BASE */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

html.lock,
body.lock,
.locker {
  overflow: hidden;
}

body {
  color: var(--color-white);
  background-color: var(--color-dark-2);
  font-family: var(--body-font);
  font-size: var(--fs-4);
  font-style: normal;
  font-weight: var(--fw-1);
  line-height: normal;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.overlay.active {
  display: block;
}

.container__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.container__title {
  color: var(--color-white);
  font-size: var(--fs-2);
  font-weight: var(--fw-2);
  text-transform: uppercase;
}

/* -------- END -------- */

/* WRAPPER */

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.container-xl {
  max-width: 1920px;
  margin: 0 auto;
}

/* -------- END -------- */

/* BUTTONS */

.btn {
  display: flex;
  align-items: center;
  padding: 12px 28px;
  font-size: var(--fs-4);
  font-weight: var(--fw-2);
  border: none;
  border-radius: 5px;
  color: var(--color-white);
  cursor: pointer;
}

.btn-primary {
  max-width: 184px;
  align-self: center;
  background-color: var(--color-blue);
}

.header__btn::after {
  content: '';
  width: 15px;
  height: 15px;
  padding-right: 13px;
  background-image: url('../images/icons/icon-download.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

/* -------- END -------- */

/* ACCORDEON */

.accordeon {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin: 90px 0px 200px 0px;
}

.accordeon__li:nth-child(1) {
  order: 1;
}

.accordeon__li:nth-child(2) {
  order: 3;
}

.accordeon__li:nth-child(3) {
  order: 5;
}

.accordeon__li:nth-child(4) {
  order: 2;
}

.accordeon__li:nth-child(5) {
  order: 4;
}

.accordeon__li {
  position: relative;
  background: var(--color-black-30);
  border-radius: 10px;
}

.accordeon__li > input[type='checkbox'] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.accordeon__li > input[type='checkbox']:checked ~ .accordeon__toggle {
  max-height: 2500px;
  transition: 4s;
}

.accordeon__btn {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 30px;
  font-size: var(--fs-2-1);
  font-weight: var(--fw-2);
  cursor: pointer;
}

.accordeon__text {
  margin: 0px 30px 40px 30px;
  color: var(--color-white-50);
  font-size: var(--fs-4);
  font-weight: var(--fw-1);
}

.accordeon__btn::after {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  background-image: url('../images/icons/icon-white-pluse.svg');
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.3s;
}

.accordeon__li > input[type='checkbox']:checked ~ .accordeon__btn::after {
  transform: rotate(180deg);
  background-image: url('../images/icons/icon-white-minuse.svg');
}

.accordeon__toggle {
  max-height: 0;
  transition: 0.3s;
  overflow: hidden;
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}

/* -------- END -------- */

/* HEADER */

.header {
  position: relative;
  width: 100%;
  margin-top: 50px;
  z-index: 100;
}

.header__nav {
  width: 100%;
  max-width: 865px;
  display: flex;
  justify-content: space-between;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 40px;
  display: flex;
  align-items: center;
  align-self: flex-start;
  margin-left: -7px;
  padding-left: 43.5px;
  font-size: var(--fs-2);
  font-weight: var(--fw-2);
  background-image: url('../images/icons/icon-shield.svg');
  background-repeat: no-repeat;
  background-position: left;
}

.logo span {
  color: var(--color-blue);
}

.header__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.menu__burger {
  display: none;
}

.menu__item {
  display: flex;
  align-items: center;
}

.menu__link {
  color: var(--color-white);
  font-size: var(--fs-4);
  font-weight: var(--fw-2);
}

@media (max-width: 1024px) {
  .header__nav {
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
  }

  .menu__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }

  .menu__burger:before {
    content: '';
    background-color: var(--color-white);
    position: absolute;
    width: 24px;
    height: 2px;
    right: 0;
    transition: all 0.3s ease-out;
  }

  .menu__burger:before {
    top: 0;
  }

  .menu__burger:after {
    content: '';
    background-color: var(--color-white);
    position: absolute;
    width: 24px;
    height: 2px;
    right: 0;
    transition: all 0.3s ease-out;
  }

  .menu__burger:after {
    bottom: 0;
  }

  .menu__burger span {
    background-color: var(--color-white);
    position: absolute;
    width: 24px;
    height: 2px;
    top: 9px;
    right: 0;
    transition: all 0.3s ease-out;
  }

  .menu__burger.active span {
    transform: scale(0);
  }

  .menu__burger.active:before {
    width: 100%;
    transform: rotate(45deg);
    top: 9px;
  }

  .menu__burger.active:after {
    width: 100%;
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .menu__burger.active > span {
    background-color: var(--color-white);
  }

  .header__nav.active {
    transform: translateX(0);
  }

  .header__nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 320px;
    height: 100%;
    transform: translateX(110%);
    transition: transform 0.5s;
    overflow: auto;
    z-index: 2;
    border-radius: 0px 0px 0px 3px;
    background: #090909;
  }

  .header__menu {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 130px 20px 0px 0px;
  }
}

@media (max-width: 768px) {
}

@media (min-width: 320px) and (max-width: 425px) {
}

/* -------- END -------- */

/* QUESTIONS */

.questions {
}

/* -------- END -------- */

/* FOOTER */

.footer__container-top {
  padding: 45px 0px 70px 0px;
  background-color: var(--color-dark-1);
}

.footer__top {
  display: flex;
  justify-content: space-between;
}

.footer__col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__link {
  color: var(--color-white-50);
  font-size: var(--fs-4);
  font-weight: var(--fw-1);
}

.footer__col-title {
  color: var(--color-blue);
  font-size: var(--fs-3);
  font-weight: var(--fw-2);
  text-transform: uppercase;
}

.footer__container-bottom {
  padding: 18px 0px;
  background-color: var(--color-dark-3);
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__link-money {
  display: flex;
  align-items: center;
  color: var(--color-purple);
  font-size: var(--fs-4);
  font-weight: var(--fw-2);
}

.footer__link-money span {
  color: var(--color-white);
  font-size: var(--fs-5);
}

.footer__copy {
  color: var(--color-white);
  font-size: var(--fs-4);
  font-weight: var(--fw-1);
}

.footer__social-wrapper {
  display: flex;
  gap: 10px;
}

.footer__social-link {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}

@media (min-width: 320px) and (max-width: 425px) {
}

/* -------- END -------- */
